<ion-card>
  <ion-card-content>
    <ion-row>
      <ion-col col-10>
        <h2 [innerHTML]="portfolioItem.HolderName | highlight : filterTerm"></h2>
        <h3 [innerHTML]="portfolioItem.PolicyType + ' - ' + portfolioItem.PolicyNo | highlight : filterTerm"></h3>
      </ion-col>
      <ion-col col-2>
        <button item-end ion-button icon-only item-end (click)="presentPopover($event, portfolioItem)">
          <ion-icon name="arrow-dropdown"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
