<!-- Generated template for the PolicyDetailsComponent component -->
<ion-header>
  <ion-navbar>
    <ion-title>Policy details for {{(currentPolicy$ | async)?.Status_Code}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="(currentPolicy$ | async) as pol else loading">
    <ion-card>

      <ion-item *ngFor="let c of pol | keys">
        <ion-label>{{c}} - {{pol[c]}}</ion-label>
      </ion-item>
    </ion-card>
  </ion-list>
  <ng-template #loading>
    <ion-spinner></ion-spinner>Loading...
  </ng-template>
</ion-content>
