page-policy-tabs {
    //TODO: Find solution to hidden tabs, this is a hack
    //see https://github.com/ionic-team/ionic/issues/10632
    .tabbar {
        opacity: 1;
    }

    .div_menu_entries
    {
      height: 100px;
     
    }
    
    .div_menu_entry
    {
        width:70px;
        height:70px;
        border-radius: 50%;
        border:1px solid red !important;
        display: inline-block;
        background-color: blue;
        z-index: 100;
        vertical-align: top;
        margin:5px;
    }

}
